#pro{
    width: 30%;
    border-radius: 25px;
    
}
#round{
  border-radius: 25px;
}
#exp,#exp1,#exp2{
    margin-top: -10%;
}
#exp0{
    margin-top: -10%;
}
body::-webkit-scrollbar {
    width: 2px;
    
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid;
    background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);;
   
  }
  {
  box-shadow: 20px 20px 50px #00d2c6, 
  -30px -30px 60px #00ffff;
  }
  #backg{
      padding-top: 60px;
  }
#exp3
{
  margin-left:-2%;

}
#exp5{
  padding-top: 30px;
}
#exp4{
  border-radius:25px;
}
#wall{
  width: 1000px;
  height: 500px;
}
#neuro{
  border-radius: 50px;
background:  #232531;
box-shadow:  5px 5px 10px #141010, 
             -5px -5px 10px #3e404e;
width: 150px;
height: 10%;
text-align: center;
margin-left: 15px;
}
#neuro1{
  border-radius: 61px;
background:  #232531;
box-shadow: inset 6px 6px 4px #141010, 
            inset -6px -6px 4px #524242;
width: 300px;
height: 60px;
text-align: center;
margin-left: -30px;

}
#navb{
  margin-right: -100px;
}
#icons{
border-radius: 5px;
box-shadow:  5px 5px 10px #141010, 
             -5px -5px 10px #3e3f49;
    width: 40%;

}
#blogneuro{
  border-radius: 50px;
background:  #232531;
box-shadow:  10px 10px 50px #151111, 
             -10px -10px 50px #3e404e;
margin-left: 60px;
padding-top: 200px;
height: 620px;
}
#neuro2{
  border-radius: 5px;
background:#232531;
box-shadow: inset 5px 5px 0px #1e1818, 
            inset -5px -5px 0px #3a2f2f;
width: 600px;
height: 750px;
text-align: center;

  


}
#cont{
  padding: 10px;
}
